<!doctype html>
<html>

  <head>
    <title>SupportiveCare</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <!-- NAV BAR -->
    <header>
      <nav>
        <ul>
          <li>
            <a class="navItem" href="/login" title="log in">Login</a>
          </li>
          <li>
            <a class="navItem" href="/signup" title="sign up">Sign Up</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="container" class="container">
      <h1>SupportiveCare</h1>
      
      <!-- <h2>"If there is no struggle, there is no progress."</h2> 
      <h3>Frederick Douglass, 1857</h3> -->

    </section>
  </body>

</html>
