* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  background: white;
  font-family: 'Rubik', sans-serif;
  color: #000;
}

header {
	background-color: #86a3f1;
	padding: 1rem;
	height: 3rem;
	border-bottom: 1px solid #223260;
  width: 100%;
  display: inline-block;
}

nav{
  float: right;
}

section{
  margin-top:1rem;
}

a{
  text-decoration: none;
}

li, ul {
  list-style: none;
  text-decoration: none;
  display: inline;
}

h1 {
  color: #223260;
  font-size: 6rem;
  font-family: 'Rubik', sans-serif;
}
h2,h3,h4,h5,h6{
  color: #000;
}

html {
  font-size: 20px;
}

input {
  text-align: center;
}

textarea, button{
  margin: 2%;
  resize: none;
}

form{
  color: #223260;
}

/*==============================================================================
===============================CLASSES =========================================
================================================================================*/

.container {
  display: inline-block;
  text-align: center;
  margin-top: 2.2rem;
  margin-left: 5.5rem;
}

.page-title{
  margin: 1rem;
  font-family: 'Rubik', sans-serif;
  color: #223260 !important;
  font-size: .8rem;
}

.navItem {
	margin: 1rem;
	font-family: 'Rubik', sans-serif;
  color: #223260;
	font-size: .8rem;
	text-decoration: none;
}

.navItem:hover {
	margin-bottom: 17px;
	border-bottom: 3px solid #223260;
  color: #223260;
  text-decoration: none;
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.logout {
  margin: 20px
}

.btn{
  background-color: #223260;
  color: #86a3f1;
  margin: 1%;
}
  .btn:Hover{
    color: #223260;
    box-shadow: 10px 10px 10px #86a3f1;
  }

.entrySection{
  width: 80%;
  margin: auto;
}

.journalContainer{
  border: 3.5px double #223260;
  width: 95%;
  height: 21rem;
  margin: auto;
  overflow: auto;
}

.journals{
  border: 1px dashed #86F1C4;
  width: 95%;
  height: 14rem;
  margin: 2%;
  overflow: auto;
  text-align: left;
}

.journalsHeader{
  width: 90%;
  margin-left: 1rem;
} 

#container{
  margin-top: 5.5rem;
}

#page-title {
  float: left;
  font-size: 1rem;
  color: #223260;
}
#entry-owner-name{
  float: left;
}

#postDate{
  float: right;
}

#entries{
  float: left;
}
#form-label{
  text-align: left;
  display: inline-block;
}
